.livre-wrapper {
    width: 100%;
    height: 100%;
    scroll-snap-align: start;
    display: flex;
    background-color: var(--color-light);
    color: (--color-dark);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
.livre-page{
    width: 100%;
    height: 100%;
    margin-top: 90px;
    scroll-snap-align: start;
    display: flex;
    background-color: var(--color-light);
    color: (--color-dark);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.livre-page-left {
    background-color: var(--color-light);
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 20px;
    flex: 0.6;
    border: 1px red solid;
}

.livre-page-right {
    display: flex;
    background-color: var(--color-light);
    height: 50%;
    flex: 0.4;
    border: 1px yellow solid;
}

.testimonials-livre {
    background-color: var(--color-light);
}

.livre-wrapper {
    background-color: var(--color-light);
    display: flex;
    flex-direction: column;
}

.shopping-links {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items:stretch;
}

.shopping-button {
    font-size: 20px;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 50px;
    margin-right: 10px;
    margin-left: 20px;
    position: relative;
}

@media screen and (max-width:767px) {
    .livrepage {
        display: flex;
        flex-direction: column;
    }
    .testimonials-livre {
        display: flex;
        flex-direction: column;
    }
    .shopping-button {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .livre-page-right {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .livre-page-left {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .livre-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}