.button-back-home {
    cursor: pointer;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    font-family: 'Alex Brush', cursive;
    font-size: 12px;
    color: var(--color-light);
    border-radius: 5px;
    border: none;
    height: 40px;
    width: 120px;
    position: sticky;
    z-index: 30;
    overflow: hidden;
    margin-bottom: 85px;
    left: 85vw;
  }