.footer {
  width: 100%;
  height: fit-content;
  bottom: 0;
  position: fixed;
}

.footer-text {
    padding: 10px;
    color: var(--color-light);
    background-color: var(--second-color);
    font-weight: medium;
    text-align: center;
    display: flex;
    justify-content: space-between;

  }

.legal-mentions:hover {
    color: #141414;
    cursor: pointer;
  }