.heart {
  color: #FB7189;
  font-size: 4rem;
  animation: heartbeat 1s infinite alternate ease-in-out;
  transform-origin: center;
  overflow-y: hidden;
  margin-left: 50%;
}

.heart-p {
  color: black;
  font-size: 10px;
  z-index: 100;
  text-align: center;
  font-family: "Yeseva One", cursive;
  overflow-y: hidden;
}

@keyframes heartbeat {
  to {
    transform: scale(1.5);
  }
}
