.container {
    position: relative;
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    transform-style: preserve-3d;
    perspective: 500px;
    margin: auto;
    padding: 30px;
    overflow: hidden;
  }
  .container .box {
    position: relative;
    width: 250px;
    height: 300px;
    background: #fff;
    border-radius: 5px;
    border:0.5px gray;
    box-shadow: 0 5px 5px gray;
    transition: 0.5s;
    transform-style: preserve-3d;
    overflow-y: hidden; 
    margin-right: 20px;
    margin-top: 10px;
  }
  .container:hover .box {
    transform: rotateY(25deg);
  }
  .container .box:hover ~ .box {
    transform: rotateY(-25deg);
  }
  .container .box:hover {
    transform: rotateY(0deg) scale(1.25);
    z-index: 1;
    box-shadow: 0 20px 20px gray;
  }
  .container .box .imgBx {
    overflow-y: hidden; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .container .box .imgBx:before {
    border-radius: 5px;
    overflow-y: hidden; 
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg,rgb(5, 105, 246),#000);
    z-index: 1;
    opacity: 0;
    transition: 0.5s;
    mix-blend-mode: multiply;
  }
  .container .box:hover .imgBx:before {
    overflow-y: hidden; 
    opacity: 1;
  }
  .container .box .imgBx img {
    overflow-y: hidden; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .container .box .content {
    overflow-y: hidden; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    padding: 20px;
    align-items: flex-end;
    box-sizing: border-box;
  }
  .container .box .content h2 {
    overflow-y: hidden; 
    color: var(--color-light);
    transition: 0.5s;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    transform: translateY(200px);
    transition-delay: 0.3s;
  }
  .container .box:hover .content h2 {
    overflow-y: hidden; 
    transform: translateY(0px);
  }
  .container .box .content p {
    overflow-y: hidden; 
    color: var(--color-light);
    transition: 0.5s;
    font-size: 12px;
    font-weight: bold;
    transform: translateY(200px);
    transition-delay: 0.4s;
  }
  .container .box:hover .content p {
    overflow-y: hidden; 
    transform: translateY(0px);
  }