.livre {
    background-color: var(--color-light);
    width: 100%;
  /* height: calc(100vh - 80px); */
  scroll-snap-align: start;
  display: flex;
}

.wrapper-livre-right {
  display: flex;
  flex: 1;
}

.wrapper-livre-left {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 20px;
  padding: 15px;
}

.livre-button {
  width: 160px;
  height: 60px;
  font-size: 22px;
  text-align: center;
  margin: 10px;
  cursor: pointer;
}

.livre-title {
  font-family: 'Alex Brush', cursive;
  font-size: 60px;
}

.livre-img {
  width: 700px;
  height: 600px;
}