.navbar {
    color: var(--color-light);
    background-color: var(--second-color);
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    z-index: 2;
}

/*
.topbar-wrapper {
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {  
    margin-right: 40px;
    width: 70px;
    height: 55px;
}

.title h2 {
    margin-right: 10px;
    font-family: 'Alex Brush', cursive;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.topbar-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hamburger {
    width: 42px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.line1, .line2, .line3 {
    width: 100%;
    height: 3px;
    background-color: var(--color-light);
}

.active {
    background-color: var(--color-dark);
    color: var(--first-color);
} */

