.navbar {
    color: var(--color-light);
    background-color: var(--second-color);
    width: 100%;
    height: 90px;
    position: fixed;
    top: 0;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    cursor: pointer;
    transition: all 1s ease;
}

.navbar::-webkit-scrollbar { width: 0 !important } 

.logo {  
    margin-right: 40px;
    width: 70px;
    height: 55px;
}

.logo::-webkit-scrollbar { width: 0 !important } 

.title p {
    font-family: 'Alex Brush', cursive;
    font-size: 25px;
    display: flex;
    flex-direction:row;
    text-align: center;
    align-items: center;
    left: 100px;
    
}

ul {
    list-style: none;
    padding: 0;
    margin:0;
}


li:hover {
    font-weight: bolder;
}

.navbar-links {
    display: flex;
}

.navbar-link {
    padding: 0 0.5rem;
    color: var(--color-light);
    text-decoration: none;
}

.navbar-burger {
    width: 40px;
    height: 40px;
    background: transparent;
    border: none;
    color: var(--color-light);
}

@media screen and (max-width:767px) {
    .navbar-links {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        right: -100vw;
        bottom: 0;
        height: 100vh;
        width: 0;
        padding: 2rem;
        background-color: var(--second-color);
        visibility: hidden;
        transition: all .8s ease-out;
    }
    .show-nav .navbar-links {
        right: 0;
        width: 100vw;
        visibility: visible;
    }

    .navbar-link {
        display: block;
        padding: 1.5rem;
        font-size: 5vw;
    }
    .navbar-burger {
        display: block;
        position: fixed;
        top:1rem;
        right: 1rem;;
    }
    .navbar-burger:hover {
        cursor: pointer;
    }
    .burger-line,
    .burger-line::before ,
    .burger-line::after {
        transition: all .5s ease-in-out;
        display: block;
        width: 40px;
        height: 3px;
        position: relative;
        z-index: 40;
        border-radius: 3px;
        background-color: var(--color-light);
    }
    .burger-line::before ,
    .burger-line::after {
        content:" ";
        position: absolute;
        left: 0;
    }
    .burger-line::before {
        transform: translateY(-12px);
    }
    .burger-line::after {
        transform: translateY(12px);
    }
    .show-nav .burger-line::before {
        transform: rotate(45deg);
    }
    .show-nav .burger-line::after {
        transform: rotate(-45deg);
    }
    .show-nav .burger-line {
        background:transparent;
        width: 0;
    }
    .navbar-item::after {
        content: " ";
        display: block;
        margin: 0 auto;
        width: 3vw;
        height: 1px;
        background-color: var(--color-light);
    }
    .navbar-item:last-child::after {
        display: none;
    }
    .navbar-item {
        transform: translateY(100vh);
    }
    .show-nav .navbar-item {
        transform: translateY(0);
    }
    .show-nav .slideInDown-1 {
        transition: all 1s ease-in-out;
    }
    .show-nav .slideInDown-2 {
        transition: all 1.1s ease-in-out;
    }
    .show-nav .slideInDown-3 {
        transition: all 1.2s ease-in-out;
    }
    .show-nav .slideInDown-4 {
        transition: all 1.3s ease-in-out;
    }
    .show-nav .slideInDown-5 {
        transition: all 1.3s ease-in-out;
    }
    .show-nav .slideInDown-6 {
        transition: all 1.3s ease-in-out;
    }
    .show-nav .slideInDown-7 {
        transition: all 1.3s ease-in-out;
    }
    .title p {
        font-size: 16px;
        position: absolute;
    }
}
/*
.topbar-wrapper {
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title h2 {
    margin-right: 10px;
    font-family: 'Alex Brush', cursive;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.topbar-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hamburger {
    width: 42px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.line1, .line2, .line3 {
    width: 100%;
    height: 3px;
    background-color: var(--color-light);
}

.active {
    background-color: var(--color-dark);
    color: var(--first-color);
} */

