.presentation {
    background-color: var(--light-color);
    scroll-snap-align: start;
    display: flex;
}

.presentation-left {
  display: flex;
  flex: 0.3;
  overflow: hidden;
}

.presentation-right {
  display: flex;
  flex: 0.7;
  position: relative;
}

.img-container {
  width: 610px;
  height: 610px;
  display: flex;
  align-items: center;
  justify-content: center;
  float: right;
}

.presentation-image {
  width: 100%;
}

.presentation-wrapper {
  width: 100%;
  height: 100%;
  padding-left: 50px;
  display: flex;
  flex-direction: column;
}

.presentation-wrapper h1 {
  font-family: 'Alex Brush', cursive;
  font-size: 60px;
  margin: 10px 0;
}

.presentation-wrapper h2 {
  font-size: 1rem;
}

.presentation-wrapper h3 {
  font-size: 1.5rem;
}

.redirection{
  position:absolute;
  bottom: 10px;
  left: 40%;
}

.arrow {
  width: 50px;
  animation: arrowBlink 2s infinite;
}

@keyframes arrowBlink {
  100%{
    opacity: 0;
  }
}

.presentation-span {
  font-size: 1.5rem;
  color: var(--third-color);
}

.presentation-wrapper p {
  text-align: left;
  margin-right: 20px;
  font-weight: bold;
  font-size: 20px;
}