.slider-img {
  height: 500px;
  width: 600px;
}

.slides {
  width: calc(2000px * 4);
  animation: glisse 20s infinite;
}

.slider {
  width: 500px;
  overflow: hidden;
  margin: 150px auto;
  scroll-snap-align: start;
    height: 900px;
    margin: 100px auto 0;
    position: relative;
    background-color: var(--color-light);
}

.slide {
  float: left;
  background-color: (--color-light);
}


@keyframes glisse {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(-1000px);
  }
  20% {
    transform: translateX(-2000px);
  }
  30% {
    transform: translateX(-3000px);
  }
  40% {
    transform: translateX(-40000px);
  }
  50% {
    transform: translateX(-3000px);
  }
  60% {
    transform: translateX(-2000px);
  }
  70% {
    transform: translateX(-1000px);
  }
  100% {
    transform: translateX(0);
  }
}