.testimonials {
    scroll-snap-align: start;
    width: 100%;
    background-color: var(--color-light);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 900px; */
}

.testimonials-title {
    font-size: 50px;
    font-family: 'Alex Brush', cursive;
}

.testimonials-container {
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    margin-left: 20px;
    width: 250px;
    height: 80%;
    border-radius: 5px;
    box-shadow: 0px 0px 15px -8px black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
}

.card:hover {
    transform: scale(1.1);
}

.top {
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.testimonials-img {
    height: 50px;
    width: 90px;
}

.testimonials-stars {
    height: 50px;
}

.center {
    font-weight: bold;
    color: var(--color-light);
    background-color: var(--second-color);
    padding: 10px;
    border-radius: 5px;
    opacity:0.5;
}

.bottom {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bottom h3 {
    margin-bottom: 5px;
}

.bottom h4 {
    color: var(--third-color);
}