* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color-light: aliceblue;
  --color-dark: #153243;
  --first-color: #CCCCCC;
  --second-color: #225D84;
  --third-color: #1025DF;
}

.app {
  height: 100vh;
}

.sections {
  width: 100%;
  height: calc(100vh - 60px); /* à laisser !!! */
  position: absolute;
  top:90px;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  scrollbar-width: none; /* for firefox */
}

.sections::-webkit-scrollbar { width: 0 !important } /* for other navigators */