@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
}
:root {
  --color-light: aliceblue;
  --color-dark: #153243;
  --first-color: #CCCCCC;
  --second-color: #225D84;
  --third-color: #1025DF;
}

.app {
  background-color: var(--color-light);
  width: 100%;
  height: 100%;
}