* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color-light: aliceblue;
  --color-dark: #141414;
  --first-color: #6096ba;
  --second-color: #274c77;
  --third-color: #a3cef1;
}
