* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color-light: aliceblue;
  --color-dark: #153243;
  --first-color: #CCCCCC;
  --second-color: #225D84;
  --third-color: #1025DF;
}

.blabla {
  font-family: 'Alex Brush', cursive;
  background-color: var(--color-light);
  color: var(--third-color);
}